@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Visualising bug reports using a web application</h1>
    <p>This web application allows the user to
    <ul>
        <li>Submit Bug Reports</li>
        <li>Create Categories for bug reports</li>
        <li>Set up keywords to allow the bug reports to be categorised automatically</li>
        <li>View graphs of the bug reports</li>
       </ul></p>
</div>

