@model IEnumerable<FinalYearProject.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>
<div id="tableDiv2"></div>

@section Scripts{
    <script>
        function message() {
            swal("Bug Submitted!", "Your bug report has been submitted!", "success");
        }
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Custom Scripts/BuildCategoryTable.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert.css">
    @Scripts.Render("~/bundles/jqueryval")
}
